<footer class="site-footer h-card">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      {% for column in site.data.footer-links %}

      <div class="footer-col">
        <h3>{{ column.name }}</h3>

        <ul>
          {% for item in column.items %}

          <li><a href="{{ item.link }}">
            {% if item.icon %}
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#{{ item.icon }}"></use>
            </svg>
            {% endif %}
            {{ item.title }}
          </a></li>

          {% endfor %}
        </ul>

      </div>
      
      {% endfor %}
  </div>
</footer>