
$title-font-size: 5.75vw * 1.25;
$max-title-font-size: 3.2em * 1.25;


.body-wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  @include media-not-on-palm {
    padding: 0 $spacing-unit;
  }
}
.wrapper {
  @extend %clearfix;
}


.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;

  @include media-not-on-palm {
    margin-top: $spacing-unit;
    height: calc(#{$spacing-unit} + #{$title-font-size});
  }
  @include media-full-size {
    height: calc(#{$spacing-unit} + #{$max-title-font-size});
  }

  .wrapper {
    @include media-on-palm {
      padding: 0;
    }
    @include media-not-on-palm {
      //padding-right: calc( #{$spacing-unit} / 2 + 100% - #{$side-bar-width});
      width: #{$side-bar-width};
      float: left;
    }
  }
}

main {
  @include media-not-on-palm {
    margin-left: $side-bar-width;
  }
}

.page-content {
  flex: 1 0 auto;
  position: relative;

  .wrapper {
    padding-left: $spacing-unit / 2;
    @include media-on-palm {
      padding-right: $spacing-unit / 2;
      padding-top: $spacing-unit / 4;
    }
  }
}

.avatar {
  background-color: $sol-mono2;
  background-image: url("avatar.jpg");
  background-size: 115%;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  display:block;
  transition: border-radius 0.25s;
  
  @include media-on-palm {
    padding-top: 75%;
    border-radius: 0;
    background-position: top center;
  }
  @include media-not-on-palm {
    margin-top: calc(#{$spacing-unit} + #{$title-font-size});
  }
  @include media-full-size {
    margin-top: calc(#{$spacing-unit} + #{$max-title-font-size});
  }
}


.site-title {
  display: block;
  position: absolute;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: $title-font-size;
  white-space: nowrap;
  max-width: 100%;
  margin: 0;

  @include media-on-palm {
    padding-left: $spacing-unit / 2;
    bottom: 0;
    &, &:visited {
      color: $sol-base3;
    }
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    font-size: 2.5em;
  }
  @include media-not-on-palm {
    top: 0;

    &, &:visited {
      color: $site-title-color;
    }
  }
  @include media-full-size {
    font-size: $max-title-font-size;
  }
}

.site-nav {
  position: absolute;
  top: $spacing-unit / 2;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: left;
  z-index: 1;
  color: $brand-color;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
  }

  h3 {
    margin: 0;
    margin-top: 15px;
  }

  ul {
    list-style-type: none;
    margin-left: $spacing-unit / 4;
  }

  @include media-on-palm {
    h3:first-of-type {
      margin-top: 0;
      position:absolute;
      top: $spacing-unit / 4;
    }
    h3 {
      padding-left: $spacing-unit / 4;
    }
    a {
      padding: 5px 10px;
      line-height: $base-line-height;
      display: block;
    }
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  @include media-not-on-palm {
    position: static;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }
    
    a {
      padding: 5px 0;
    }
  }
}



/**
  * Site footer
  */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
  margin: $spacing-unit / 2 0;
  
  .wrapper {
    padding: 0 $spacing-unit / 2;
  }

  
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@include media-full-size {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@include media-not-on-palm {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}



/**
  * Page content
  */


.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
  * Posts
  */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3 { margin-top: $spacing-unit * 2 }
  h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
  * Pagination navbar
  */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}



/**
  * Grid helpers
  */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}


.cta {
  padding: $spacing-unit / 4 calc((#{$spacing-unit}) / 4 + 4px);
  padding-bottom: calc((#{$spacing-unit}) / 4 + 2px);
  border-radius: $spacing-unit;

  background-color: $sol-mono2;
  transition: background-color 0.25s;
}
.cta:hover {
  color: $sol-mono3;
  text-decoration: none;

  background-color: $sol-blue;
  background-image: radial-gradient(circle at 50% ,  $sol-blue var(--p), $sol-mono2 var(--p));
  animation: cta-circle 0.25s ease 1 normal forwards;
}
@keyframes cta-circle {
  0% {
    --p:0%;
  }
  100% {
    --p:100%;
  }
}
@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}